/* Main footer group */
.page-footer {
  background-color: #202020;
  height: 7.5vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: middle;
  align-items: center;
  text-align: center;
}

/* Footer text */
p {
  font-size: 20px;
  font-weight: bold;
  color: #f0ffff;
}
