.page{
    background-color: #2C2C2C;
    height: 85vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    text-align: center;
}

.cta-title{
    margin-top: 5vh;
    font-size: 3.5em;
    font-weight: bold;
    color: #F0FFFF;
}

.cta-content{
    margin-top: 5vh;
    margin-left: 20vw;
    margin-right: 20vw;
    font-size: 2em;
    font-weight: bold;
    color: #F0FFFF;
}

.styled-words{
    color: #FF7F50;
}