.page {
  background-color: #2c2c2c;
  height: 85vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  text-align: center;
}

.cta-title {
  margin-top: 5vh;
  font-size: 3.5em;
  font-weight: bold;
  color: #f0ffff;
}

.cta-content {
  margin-top: 5vh;
  margin-left: 20vw;
  margin-right: 20vw;
  font-size: 2em;
  font-weight: bold;
  color: #f0ffff;
}

.styled-words {
  color: #ff7f50;
}

.get-started {
  background-color: #ff7f50;
  color: #202020;
  border-radius: 10px;
  font-size: 2em;
  font-weight: bold;
  border: none;
  margin-top: 5vh;
  display: inline-flex;
  padding: 15px 15px;
  justify-content: center;
  align-items: center;
}

.widgets {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #202020;
  margin: 5vh 5vw;
  border-radius: 10px;
  border: none;
}

.widget {
  float: left;
  background-color: #2c2c2c;
  margin: 2vh 2vw;
  padding: 3vh 3vw;
}

.widget-text {
  font-size: 1.5em;
  font-weight: bold;
  color: #f0ffff;
  margin-top: 2vh;
}
