/* Main page / div */
.nav-bar {
  background-color: #202020;
  display: flex;
  height: 7.5vh;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
  align-items: center;
}

/* Links */
a {
  text-decoration: none;
  color: #f0ffff;
  font-size: 1.5em;
  font-weight: bold;
  padding: 20px;
  border-radius: 10px;
}

/* SAT logo */
.logo {
  margin-left: 0.5vw;
}

/* Nav bar items group */
.nav-items {
  margin-left: auto;
}

/* Individual nav bar items */
.nav-item {
  margin-right: 2vw;
}
