.main-profile {
  background-color: #2c2c2c;
  display: flex;
  width: fit-content;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content-profile {
  margin: 1vh 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  width: auto;
  height: 5vh;
}

.info-profile {
  margin-left: 2vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.profile-title {
  color: #ed774c;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0px;
}

.profile-info {
  margin: 0px;
  color: #f0ffff;
  font-weight: bold;
  font-size: 1em;
}
